* {
    margin: 0;
    padding: 0;
} 
.nav {
    height: 25px;
    width: auto;
    padding-top: 10px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}
.items a {
    text-decoration: none;
}
.img_container {
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(234, 238, 240);
    border: 2px solid black;
    
}
#imagee {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-sizing: border-box;
}

.container {
    height: 400px;
    width: 400px;
    margin: 20px;
    padding: 10px;
    background-color: turquoise;
    box-sizing: border-box;
    display: flex;
}
.box {
    margin: 10px;
    padding: 5px;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    background-color: yellow;
}
#box3 {
    display: flex;
    flex-grow: 1.2;
    /* flex-shrink: 0.5; */
}
